/* colspan=6, items=1 */
.col-6-1 {
    width: calc((6 / 24) * 100% - 18px);
}

/* colspan=6, items=2 */
.col-6-2 {
    width: calc(((6 / 24) * 100%) * 2 - 12px);
}

/* colspan=6, items=3 */
.col-6-3 {
    width: calc(((6 / 24) * 100%) * 3 - 6px);
}

/* colspan=8, items=1 */
.col-8-1 {
    width: calc((8 / 24) * 100% - 16px);
}

/* colspan=8, items=2 */
.col-8-2 {
    width: calc(((8 / 24) * 100%) * 2 - 8px);
}

/* colspan=12, items=1 */
.col-12-1 {
    width: calc((12 / 24) * 100% - 12px);
}

/* Any span, any items */
.full {
    width: 100%;
}