@import url('react-toastify/dist/ReactToastify.css');

:root {
  --main-font-family: "Avenir", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --toastify-font-family: "Avenir";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  font-family: var(--main-font-family);
  background-color: white;
  color: #525f7f;
}

.ant-modal-root {
  font-family: var(--main-font-family);
}
